2_docker_sql/ny_taxi_postgres_data/pg_logical/

Week1/2_docker_sql/data_pgadmin/

Week1/terrademo/keys/my-creds.json
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
